body{
    background-color: rgba(245, 245, 220, 0.161);
}


nav{
background-color: rgb(210, 224, 161);
font-family:Georgia, 'Times New Roman', Times, serif;
border-radius: 10px;
width: 100%;
margin: 25px;
    
}

Li{
    list-style: none;
padding: 15px;
letter-spacing: 1px;
}


#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


a{
    text-decoration: none;
}

a:hover{
background-color: rgb(177, 206, 209);
padding: 5px;
border-radius: 5px;
color:rgb(127, 154, 135);
cursor:grab

}

a:link{
    color: rgb(72, 72, 53);
    font-weight: 500;
}

h1{
    text-align: center;
    color: rgb(98, 202, 46);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
;
}


.dropdown-menu{
    display:flex ;
    flex-direction: column;
    width: 15%;
    margin: 20px;
    border: 2px solid rgb(103, 149, 30);
    position: absolute;
    opacity:0;
    transition-duration: 0.5s;
    
    
}

.dropdown:hover .dropdown-menu{
    opacity: 1;

}


/* #Account {
    margin-right: auto;
} */

/* Media Query
@media only screen and (max-width: 768px)  {
    ul {
        flex-direction: column;
    }
} */


.container1
{
    display: flex;
    justify-content:right;
    align-items:flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    margin: 10px;
    padding: 20px;
}

.container2 {
    display: flex; 
  justify-content: center;
  align-items:center;
  
}


.container4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    size:40%;
}

.container3 {
    display: flex;
    justify-content: right;
    align-items:flex-end;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
    font-weight: 300;
    margin: 20px;

}




.container5 {
    font-style: italic;
    font-size: x-small;
    margin: 20px;
}


.container6 {
display: flex;
   justify-content: center;
    align-items: center;
    
}

.container7 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button{

    background-color: rgb(233, 112, 162);
    border: none;
    padding: 5px;
    font-size: larger;


}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
