body{
    margin: 30px;
}



.image-container > img{
    width: 70%;
    height: 100%;
    object-fit: cover;
}


    

.image-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: minmax(300px, auto);

}

.image-grid-col-2 {
    grid-column: span 3 ;
}

.image-grid-row-3 {
    grid-row: span 3 ;
}



@media screen and (max-width: 1024px){
    .image-container{
        --num-cols: 3;
        --row-height: 300px;
    }
    }