input[ type=submit]{
    border:none;
    background-color: rgb(70, 100, 232);
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

input, textarea {

    display: block;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(220, 219, 219);
    border: 3px solid rgb(161, 160, 163);
}

body{
    background-color: rgb(239, 239, 239);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset{
    border: 2px rgb(195, 195, 196) solid;
}

input[type=submit]:hover{
    background-color: rgb(135, 131, 131);
}


input[type=text]:valid, input[type=email]:valid{
    border: solid 3px rgb(6, 124, 6);
}

input[type=text]:invalid, input[type=email]:invalid{
    border:solid 3px rgb(224, 11, 11);

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}




.container-item{
    display: flex;
    justify-content: center;
align-items: center;
}


select{
    width: 100%;
}

