
.site-hero{
    height: 70vh;
    background-image: url("../assets/pexels-photo-4601721.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
}

.site-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #e1a177 ;
    text-align: center;
    font-size: 100%;
}


.parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 140, 140);
    width: 100%;
    height: 20%;
}



   @media (min-width: 576px) { ... }


   h4{
    
    font-size: 200%;
    
   }
h5{
    font-size: medium;
    color: rgb(79, 78, 76);
    font-style: oblique;
}

   h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color:#f3ebe6;
    font: 20%;
   }

   .collapseButton{
    text-align: center;
   
   }